@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif; /*La fuente del cuerpo será Inter*/
  margin: 0;
  padding: 0;
  background-color: rgb(0,0,0);
}

#Fondo{
  background-image: url('images/fondo.png');
	background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  background-attachment: fixed;
}

header {
  height: 160px;
  position: sticky;
	top: 0px;
  background-color: black;
  box-shadow: 0px 5px 15px black;
}

.Logo {
  filter: invert(100%);
  width: 190px;
  margin: auto;
  display: block;
  padding-top: 15px;
}

nav {
  width: 85vw;
  margin: auto;
  padding: 15px 0;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: auto;
  max-width: 850px;
}

nav li {
  width: 100%;
  height: 35px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li:hover {
  background-color: rgb(148, 81, 81);

}

.active {
  background-color: rgb(156, 16, 16);
}

nav li a {
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
}

/*@media screen and (max-width: 767px) {
  nav ul {
    width: 85vw;
    display: block;
  }
}*/

main{
  width: 85vw;
  max-width: 850px;
  min-height: calc(100vh - 160px);
  margin: 0 auto;
}

#Portada{
  background-image: url('images/portada.jpg');
	background-repeat: no-repeat;
  background-position: center, center;
	background-size: contain;
}

blockquote {
  color: white;
  border: 1px solid white;
  padding: 10px 20px 20px 20px;
  border-left: 7px solid white;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  width: 65%;
  max-width: 400px;
  bottom: 60px;
}

#Flexbox{
	margin: 20px 0 60px 0; 
}

.Box{
	display: flex; 
	width: 100%;
  max-width: 550px;
  color: white;
  border: 1px solid white;
  background-color: rgba(0,0,0,0.8);
	padding: 15px;
	margin-bottom: 30px;
  text-align: justify;
}

.Box img{
  object-fit: contain;
  width: 35%;
  margin-right: 25px;
}

.Descripcion h3{
  margin: 0;
}

.Descripcion p{
  padding-right: 10px;  
  font-size: 0.9rem;
}

.Descripcion a{
  color: white;
  font-size: 0.8rem;
  display: block;
  right:0;
  text-align: right;
}

/*Esta clase hace que la caja de síntoma se posicione a la derecha*/
.Derecha{
	float: right;
}